<div class="center jumbotron">
  <center><h3><%= t "views.static_pages.head" %></h3></center>
  <%= link_to image_tag("fram1.jpg", id: "image_framgia",
    class: "img-thumbnail"), "http://recruit.framgia.vn/" %>
</div>
