<fieldset class="field_answer">
  <div class="row">
    <div class="col-md-10">
      <%= f.text_field :content , class: "form-control"%>
    </div>
    <div class="col-md-2">
      <%= f.check_box :is_correct , id: "answer", class: "BOOLEAN"%>
    </div>
  </div>
  <br />
</fieldset>
