<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Greeting, <%= @user.name %></h1>
    <p>
      You have an incompleted lesson, please login to finish your learning
      <br>
    </p>
    <p>We hope you find this app useful and keep learning new languages !</p>
  </body>
</html>
