@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #2a6496;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
}
.header {
  padding-right: 50px;
  padding-left: 50px;
  background: #e7e7e7;
  border: 1px solid #DDDDDD;
}
.footer {
  background-color: #e7e7e7;
  padding-right: 50px;
  height: 25px;
  small {
    background-color: #e7e7e7;
    float: left;
    padding-left: 50px;
    padding-top: 5px;
  }
}
#image_framgia {
  height: 400;
  width: 1000;
}
.active{
  background-color: white;
}
.date_time {
  color: #3BB2D6;
}
