@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
  box-sizing:          border-box;
}

@mixin background-tile {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #ccc;
}
@mixin box_word {
  box-sizing: border-box;
  border-radius: 5px;
  height: 30px;
  box-shadow: 2px 2px 2px 2px #e7e7e7;
  padding: 1.5em 1.25em;
  margin: 0.5em 1em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #2a6496;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
}
.header {
  padding-right: 50px;
  padding-left: 50px;
  background: #e7e7e7;
  border: 1px solid #DDDDDD;
}
.footer {
  background-color: #e7e7e7;
  padding-right: 50px;
  height: 25px;
  border-top: 1px solid #eaeaea;
  small {
    background-color: #e7e7e7;
    float: left;
    padding-left: 50px;
    padding-top: 5px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
#image_framgia {
  height: 400;
  width: 1000;
}
.active{
  background-color: white;
}
.date_time {
  color: #3BB2D6;
}
#user_info {
  margin-top: 20px;
  padding-left: 80px;
  width: auto;
  .image {
  }
  .information {
    padding-left: 10px;
    font-style: italic;
  }
}
#category_body {
  padding-top: 20px;
  padding-bottom: 20px;
  #category_title {
    padding-left: 90px;
  }
  #category_add {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
#button_submit {
  margin-bottom: 30px;
}
#new_user, #edit_user {
  .title_new_user {
    border: 1px solid #e7e7e7;
    background: #e7e7e7;
  }
  width: 450px;
  height: auto;
  background-color: #e7e7e7;
  border: 1px ridge #e7e7e7;
  margin: 3%;
  margin-left: 350px;
  padding: 3%;
}
.actions {
  padding-top: 15px;
}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
#action_categories {
  width: 1100px;
  height: auto;
  background-color: #e7e7e7;
  border: 1px ridge #e7e7e7;
  margin: 2%;
}
ul.list_word {
  list-style-type: none;
}

.field_answer {
  padding-left: 70px;
  padding-right: 70px;
}
#create_word {
  margin-bottom: 20px;
  margin-top: 20px;
}
.field_category {
  padding-top: 5px;
  padding-bottom:  30px;
  .new_category {
    float: right;
    padding-bottom:4px;
  }
  #category_info {
    background: #e7e7e7;
    @include background-tile;
    margin-bottom: 10px;
    padding-right: 5px;
    width: 30%;
    margin: 0.5em 1em;
  }
  .category {
    padding-top: 3px;
    padding-bottom: 2px;
  }
  #list_word {
    @include background-tile;
    margin-left: 3px;
    background: #e7e7e7;
    margin-right: 3px;
    width: 65%;
    margin: 0.5em 1em;
    .word_info {
      padding: 1.5em 1.25em;
      margin: 0.5em 1em;
      border: 1px solid black;
      border-radius: 3px;
      .action_word {
        float: right;
      }
    }
  }
}
#list_user {
  border: 1px solid #e7e7e7;
  .title_table {
    background-color: #7FDBFF;
  }
}
#form_search {
  float: left;
  margin-left: 2px;
  margin-bottom: 10px;
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
#user_activities {
  margin-top: 20px;
  border-left: 2px ridge #e7e7e7;
  .title_list_activity {
  border-bottom: 2px ridge #e7e7e7;
  }
}
.action_activity {
  margin-top: 20px;
}
#button {
  display:inline-block;
  margin-left: 5px;
  min-width: 50px;
  width: 300px;
  height: 100px;
  padding:5px 10px;
  font-size: 3.5em;
}
