@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #2a6496;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
}
.header {
  padding-right: 50px;
  padding-left: 50px;
  background: #e7e7e7;
  border: 1px solid #DDDDDD;
}
.footer {
  background-color: #e7e7e7;
  padding-right: 50px;
  height: 25px;
  border-top: 1px solid #eaeaea;
  small {
    background-color: #e7e7e7;
    float: left;
    padding-left: 50px;
    padding-top: 5px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
#image_framgia {
  height: 400;
  width: 1000;
}
.active{
  background-color: white;
}
.date_time {
  color: #3BB2D6;
}
#user_info {
  margin-top: 50px;
  margin-left: 380px;
  margin-bottom: 50px;
  margin-right: 440px;
  .image {
  }
  .information {
    padding-left: 10px;
    font-style: italic;
    font-size: 2em;
  }
}
#category_body {
  padding-top: 20px;
  padding-bottom: 20px;
  #category_title {
    padding-left: 90px;
  }
  #category_add {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
#button_submit {
  margin-bottom: 30px;
}
#new_user, #edit_user {
  .title_new_user {
    border: 1px solid #e7e7e7;
    background: #e7e7e7;
  }
  width: 450px;
  height: auto;
  background-color: #e7e7e7;
  border: 1px ridge #e7e7e7;
  margin: 3%;
  margin-left: 350px;
  padding: 3%;
}
.actions {
  padding-top: 15px;
}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
#action_categories {
  width: 1100px;
  height: auto;
  background-color: #e7e7e7;
  border: 1px ridge #e7e7e7;
  margin: 2%;
}
ul.list_word {
  list-style-type: none;
}

.field_answer {
  padding-left: 70px;
  padding-right: 70px;
}
#create_word {
  margin-bottom: 20px;
  // margin-left : 200px;
}
.field_category {
  padding-top: 5px;
  padding-bottom:  30px;
}
#list_user {
  border: 1px solid #e7e7e7;
  .title_table {
    background-color: #7FDBFF;
  }
}
#form_search {
  float: left;
  margin-left: 2px;
  margin-bottom: 10px;
}
