<table class="table table-striped">
  <thead class="thead_table_word">
    <tr>
      <td><%= t "views.categories.word" %></td>
    </tr>
  </thead>
  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.content %><tab /></td>
      </tr>
    <% end %><br />
  </tbody>
</table>
